@font-face {
  font-family: 'git';
  src: url('../fonts/git-icon.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url('../img/background4.jpg');
  background-size: cover;
  min-width: 890px;
}

.git-icon {
  font-family: 'git';
  position: absolute;
  left: -1.2em;
  top: .15em;
}

.main-header, .title-header {
  text-align: center;
  margin: 0;
  color: white;
}

.main-header {
  font-size: 4em;
  font-weight: 200;
  margin-bottom: .1em;
}

.title-header {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: .25em;
}

.projects-cntnr {
  position: relative;
  background: rgba(0, 0, 0, .5);
  width: 75%;
  min-width: 890px;
  margin: 0 auto;
  text-align: justify;
  overflow: auto;
}

.project-cntnr {
  text-align: center;
  position: relative;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  min-height: 400px;
  background: rgba(255, 255, 255, .65);
  float: right;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 1em;
  text-align: center;
}

.project-title {
  text-align: center;
  color: black;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
}

.project-title:hover {
  color: dodgerblue;
}

.contact-cntnr {
  text-align: center;
}

.project-blurb {
  text-align: left;
  color: black;
}

.thumbnail {
  display: inline-block;
  margin: auto;
  width: 225px;
  border: 1px solid black;
}

.contact-info {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 0 2em;
  font-weight: 300;
  color: white;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
}

.contact-info + .contact-info {
  margin-left: 4em;
}

.contact-info:hover {
  color: dodgerblue;
}
