@font-face {
  font-family: 'icons';
  src: url('../fonts/icon.ttf');
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1100px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

hr {
  width: 25%;
  margin: 7em auto 0;
}

#hero-sctn {
  padding-top: 2%;
  height: 90vh;
  text-align: center;
  background-image: url('../img/background3.jpg');
  background-size: cover;
}


.hdr-cntnr {
  position: relative;
  display: inline-block;
  margin: auto;
}

.contacts-cntnr {
  position: absolute;
  top: 2.75em;
  left: -2em;;
}

.contact-lnk {
  position: relative;
  font-family: 'icons';
  font-size: 1.5em;
  display: block;
  color: white;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
}

.contact-lnk + .contact-lnk {
  margin-top: .415em;
}

.contact-lnk:hover {
  color: darkorange;
}

.main-header, .title-header {
  text-align: center;
  margin: 0;
  color: white;
}

.main-header {
  margin-top: .15em;
  font-size: 8em;
  font-weight: 200;
  margin-bottom: .1em;
}

.title-header {
  font-size: 4em;
  font-weight: 100;
  margin-bottom: .6em;
}

.main-nav {
  text-align: center;
  color: white;
}

.nav-button {
  font-size: 1.5em;
  display: inline-block;
  font-weight: 400;
  color: inherit;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
}

.nav-button:hover {
  color: darkorange;
}

.nav-button + .nav-button {
  margin-left: 8em;
}

/*Below lie Projects Section Rules*/

#projects-sctn {
  width: 100%;
  min-height: 100vh;
  background: white;
  margin: 0;
  box-sizing: border-box;
}

.projects-hdr {
  padding-top: 5vh;
  font-weight: 200;
  font-size: 6em;
  text-align: center;
}

.project-cntnr {
  width: 85%;
  margin: 7em auto 0;
}

.thumb {
  width: 35%;
  max-width: 370px;
  border: 1px solid black;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
}

.thumb:hover {
  border-color: darkorange;
}

.project-info-cntnr {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  float: right;
}

.project-title {
  display: inline-block;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: .5em;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
}

.p-title-lnk {
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
}

.p-title-lnk:hover {
  color: darkorange;
}

.git-link {
  font-family: "icons";
  font-size: .75em;
  margin-left: 1.7em;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
}

.git-link:hover {
  color: darkorange;
}

.project-description {
  line-height: 1.6em;
  text-align: justify;
}

.sub-nav {
  text-align: center;
  margin: 5em 0 7.5em;
}

/*about section*/

#about-sctn {
  position: relative;
  background: white;
  min-height: 100vh;
}

.about-hdr {
  font-weight: 200;
  font-size: 6em;
  text-align: center;
}

.bio-cntnr {
  width: 85%;
  margin: 7.5em auto 0;
}

.portrait {
  width: 225px;
  border-radius: 100%;
}

.bio-text {
  display: inline-block;
  width: 70%;
  float: right;
  line-height: 1.8em;
}

.bio-nav {
  text-align: center;
}

.bottom-nav {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 90%;
}

.subhead-nav {
  text-align: center;
}

.subhead-lnk {
  font-family: 'icons';
  font-size: 1.5em;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
}

.subhead-lnk:hover {
  color: darkorange;
}

.subhead-lnk + .subhead-lnk {
  margin-left: 1em;
}
